Repository tkeith/test-cwmf69, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @database-team, @ios-team, @android-team, @frontend-team, @architecture-team, @devops-team, @security-team, @qa-team, @documentation-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/ecs/outputs.tf
  infrastructure/terraform/modules/ecs/outputs.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/ecs/variables.tf
  infrastructure/terraform/modules/ecs/variables.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team

Add public-samples/test-cwmf69/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team

Add public-samples/test-cwmf69/src/android/.gitignore
  src/android/.gitignore
Owners: @android-team

Add public-samples/test-cwmf69/src/android/README.md
  src/android/README.md
Owners: @android-team

Add public-samples/test-cwmf69/src/android/build.gradle.kts
  src/android/build.gradle.kts
Owners: @android-team

Add public-samples/test-cwmf69/src/android/gradle.properties
  src/android/gradle.properties
Owners: @android-team

Add public-samples/test-cwmf69/src/android/gradlew
  src/android/gradlew
Owners: @android-team

Add public-samples/test-cwmf69/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @android-team

Add public-samples/test-cwmf69/src/android/settings.gradle.kts
  src/android/settings.gradle.kts
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/build.gradle.kts
  src/android/app/build.gradle.kts
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/androidTest/kotlin/com/delayedmessaging/android/ExampleInstrumentedTest.kt
  src/android/app/src/androidTest/kotlin/com/delayedmessaging/android/ExampleInstrumentedTest.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/androidTest/kotlin/com/delayedmessaging/android/ui/auth/LoginActivityTest.kt
  src/android/app/src/androidTest/kotlin/com/delayedmessaging/android/ui/auth/LoginActivityTest.kt
Owners: @security-team, @backend-team

Add public-samples/test-cwmf69/src/android/app/src/androidTest/kotlin/com/delayedmessaging/android/ui/messages/MessageFlowTest.kt
  src/android/app/src/androidTest/kotlin/com/delayedmessaging/android/ui/messages/MessageFlowTest.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/AndroidManifest.xml
  src/android/app/src/main/AndroidManifest.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/App.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/App.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/data/api/ApiService.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/data/api/ApiService.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/data/api/WebSocketManager.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/data/api/WebSocketManager.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/data/local/AppDatabase.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/data/local/AppDatabase.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/data/local/dao/MessageDao.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/data/local/dao/MessageDao.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/data/local/dao/UserDao.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/data/local/dao/UserDao.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/data/repository/AuthRepository.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/data/repository/AuthRepository.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/data/repository/MessageRepository.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/data/repository/MessageRepository.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/data/repository/UserRepository.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/data/repository/UserRepository.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/di/AppModule.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/di/AppModule.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/di/NetworkModule.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/di/NetworkModule.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/di/ViewModelModule.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/di/ViewModelModule.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/domain/model/Message.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/domain/model/Message.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/domain/model/MessageStatus.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/domain/model/MessageStatus.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/domain/model/User.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/domain/model/User.kt
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/kotlin/com/delayedmessaging/android/domain/model/UserPresence.kt
  src/android/app/src/main/kotlin/com/delayedmessaging/android/domain/model/UserPresence.kt
Owners: @android-team

.github/CODEOWNERS:

# Unless a later match takes precedence, project leads will be requested for review
* @project-leads

# Backend code ownership
src/backend/** @backend-team
src/backend/db/** @backend-team @database-team

# Mobile app code ownership
src/ios/** @ios-team
src/android/** @android-team

# Web frontend code ownership
src/web/** @frontend-team

# Shared code requiring architectural review
src/shared/** @project-leads @architecture-team

# Infrastructure and deployment code
infrastructure/** @devops-team

# Security-sensitive code patterns
src/**/security/** @security-team
src/**/auth/** @security-team @backend-team
src/**/crypto/** @security-team

# CI/CD workflows
.github/workflows/** @devops-team

# Test files
**/test/** @qa-team

# Documentation
docs/api/** @backend-team @documentation-team

# Configuration files
config/** @devops-team @security-team
