Repository tkeith/test-cwmf69, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @database-team, @ios-team, @android-team, @frontend-team, @architecture-team, @devops-team, @security-team, @qa-team, @documentation-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/layout/view_delay_timer.xml
  src/android/app/src/main/res/layout/view_delay_timer.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/layout/view_empty_state.xml
  src/android/app/src/main/res/layout/view_empty_state.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/layout/view_error.xml
  src/android/app/src/main/res/layout/view_error.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/layout/view_loading.xml
  src/android/app/src/main/res/layout/view_loading.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/layout/view_message_item.xml
  src/android/app/src/main/res/layout/view_message_item.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/values-night/colors.xml
  src/android/app/src/main/res/values-night/colors.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/values-night/themes.xml
  src/android/app/src/main/res/values-night/themes.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/values/styles.xml
  src/android/app/src/main/res/values/styles.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/main/res/values/themes.xml
  src/android/app/src/main/res/values/themes.xml
Owners: @android-team

Add public-samples/test-cwmf69/src/android/app/src/test/kotlin/com/delayedmessaging/android/ExampleUnitTest.kt
  src/android/app/src/test/kotlin/com/delayedmessaging/android/ExampleUnitTest.kt
Owners: @qa-team

Add public-samples/test-cwmf69/src/android/app/src/test/kotlin/com/delayedmessaging/android/repository/MessageRepositoryTest.kt
  src/android/app/src/test/kotlin/com/delayedmessaging/android/repository/MessageRepositoryTest.kt
Owners: @qa-team

Add public-samples/test-cwmf69/src/android/app/src/test/kotlin/com/delayedmessaging/android/viewmodel/AuthViewModelTest.kt
  src/android/app/src/test/kotlin/com/delayedmessaging/android/viewmodel/AuthViewModelTest.kt
Owners: @qa-team

Add public-samples/test-cwmf69/src/android/app/src/test/kotlin/com/delayedmessaging/android/viewmodel/MessageViewModelTest.kt
  src/android/app/src/test/kotlin/com/delayedmessaging/android/viewmodel/MessageViewModelTest.kt
Owners: @qa-team

Add public-samples/test-cwmf69/src/android/fastlane/Appfile
  src/android/fastlane/Appfile
Owners: @android-team

Add public-samples/test-cwmf69/src/android/fastlane/Fastfile
  src/android/fastlane/Fastfile
Owners: @android-team

Add public-samples/test-cwmf69/src/android/fastlane/Matchfile
  src/android/fastlane/Matchfile
Owners: @android-team

Add public-samples/test-cwmf69/src/android/gradle/wrapper/gradle-wrapper.jar
  src/android/gradle/wrapper/gradle-wrapper.jar
Owners: @android-team

Add public-samples/test-cwmf69/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @android-team

Add public-samples/test-cwmf69/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/package.json
  src/backend/package.json
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/prisma/schema.prisma
  src/backend/prisma/schema.prisma
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/prisma/migrations/0000_initial_setup.sql
  src/backend/prisma/migrations/0000_initial_setup.sql
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/scripts/run-migrations.sh
  src/backend/scripts/run-migrations.sh
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/scripts/seed-data.ts
  src/backend/scripts/seed-data.ts
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/scripts/setup-db.sh
  src/backend/scripts/setup-db.sh
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/src/config/auth.ts
  src/backend/src/config/auth.ts
Owners: @backend-team

Add public-samples/test-cwmf69/src/backend/src/config/cors.ts
  src/backend/src/config/cors.ts
Owners: @backend-team

.github/CODEOWNERS:

# Unless a later match takes precedence, project leads will be requested for review
* @project-leads

# Backend code ownership
src/backend/** @backend-team
src/backend/db/** @backend-team @database-team

# Mobile app code ownership
src/ios/** @ios-team
src/android/** @android-team

# Web frontend code ownership
src/web/** @frontend-team

# Shared code requiring architectural review
src/shared/** @project-leads @architecture-team

# Infrastructure and deployment code
infrastructure/** @devops-team

# Security-sensitive code patterns
src/**/security/** @security-team
src/**/auth/** @security-team @backend-team
src/**/crypto/** @security-team

# CI/CD workflows
.github/workflows/** @devops-team

# Test files
**/test/** @qa-team

# Documentation
docs/api/** @backend-team @documentation-team

# Configuration files
config/** @devops-team @security-team
